pyTelegramBotAPI==4.15.2
python-telegram-bot==20.3
requests==2.31.0
aiohttp==3.9.1
aiohttp-socks==0.8.4
urllib3==2.1.0
pandas
beautifulsoup4==4.12.3
selenium
undetected-chromedriver
fake-useragent
colorama==0.4.6
pyfiglet==1.0.2
rich==13.7.0
tqdm==4.66.1
pillow==10.2.0
faker
pycountry
pyarmor==8.4.7
pycodestyle==2.11.1
Pygments==2.17.2
python-bidi==0.4.2
python-cfonts==1.5.2
python-nmap==0.7.1
python-socks==2.4.4
six==1.16.0
youtube_dl
uuid
pafy
bs4
